@model ORM1.Models.Book

<h2>Sửa sách</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div>
        <label>Tên sách</label>
        <input asp-for="Name" />
    </div>

    <br />

    <div>
        <label>Giá</label>
        <input asp-for="Price" />
    </div>

    <br />

    <button type="submit">
        Cập nhật
    </button>

</form>

<br />

<a asp-action="Index">Quay lại</a>
